@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}
/* Logo animation */
@keyframes animate-logo {
    0% {
        color: #00ff7f;
        text-shadow: 0 0 7px #00ff7f, 0 0 20px #00ff7f;
    }
    50% {
        color: #ff007f;
        text-shadow: 0 0 7px #ff007f, 0 0 20px #ff007f;
    }
    100% {
        color: #00ff7f;
        text-shadow: 0 0 7px #00ff7f, 0 0 20px #00ff7f;
    }
}

.animate-logo {
    animation: animate-logo 2s infinite;
    font-size: 20px;
    font-weight: bold;
}
